.button
{
    font-size: 10pt;
    width: 72px;
    height: 24px;
}
.dropdown
{
    font-size: 10pt;    
}
.hit
{
    font-size: 10pt;    
    height: 16px;
}
.image
{
    border: 0px;
    padding: 0px;
}

.box
{
    background-color: #EEE4F8;
    border: solid 1px grey;
    padding: 5px;
    width: 640px;
}
.textbox
{
    width: 100%;
    height: 16px;
    font-size: 10pt;
}

/*
 * Response messages
*/
.infomessage, .warningmessage, .errormessage
{
    color: Black;
    border: solid 1px Black;
    padding: 10px;
}
.infomessage
{
    background-color: #e8ffe8;
}
.warningmessage
{
    background-color: #e8e8ff;
}
.errormessage
{
    background-color: #ffe8e8;
}

th
{
    text-align: left;
    padding: 10px 0px 10px 0px;
}
td.label
{
    width: 60px;
    text-align: left;
    vertical-align: middle;
    padding: 5px 5px 5px 0px;
}
td.information
{
    width: 100%;
    text-align: left;
    vertical-align: middle;
    padding: 5px 5px 5px 0px;
}
td.message
{
    width: 100%;
    text-align: left;
    vertical-align: middle;
}
td.button
{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
}

#master td.navmenu
{
    vertical-align: top;
}
#master td.pagecontent
{
    margin: 0px;
    padding: 5px;
    vertical-align: top;
    width: 100%;
}

#banner
{
    background-color: #003099; /* dark blue */ /* background-color: #500098; dark purple */
    padding: 0px;
}
#banner td.title
{
    color: white;
    font-size: 20pt;
    text-align: center;
    width: 100%;
}

#statusbar td
{
    background-color: silver;
    background-image: url("../img/gradient.gif"); /* path is relative to where the CSS is located */
    height: 21px;
}
#statusbar td.version
{
    color: gray;
    padding-right: 10px;
    vertical-align: middle;
    text-align: right;
    width: 100%;
}

#navmenu td.header
{
    background-color: #A1BD41; /* Green */ /* background-color: #8141BD; Purple */
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #8A8B8B;
}
#navmenu ul
{
    list-style-type: none;
    margin: 3px;
    padding: 0px;
}
#navmenu li
{
    display: block;
    border: 1px solid #DFDFDF;
    margin: 1px;
}
#navmenu a:link, #navmenu a:visited
{
    display: block;
    background-color: #FFFFFF;
    color: #000000;
    padding: 4px;
    text-decoration: none;
}
#navmenu a:hover, #navmenu a:active
{
    background-color: #EEF8E4; /* Light green */ /* background-color: #EEE4F8; Light purple */
}

#content
{
}
#content td.title
{
    font-size: 18pt;
    font-weight: bold;
    color: #333;
    text-align: left;
    vertical-align: top;    
    padding: 2px;
}
#content td.filler
{
    width: 100%;
}

#feedback td
{
    background-color: silver;
    background-image: url("../img/feedback-gradient.gif"); /* path is relative to where the CSS is located */
    padding: 0px 10px 0px 10px;
    border-top: solid 1px Silver;
    text-align: right;
    vertical-align: middle;
    height: 19px;
    width: 100%;
}

#footer td
{
    padding-bottom: 2px;
    border-bottom: solid 1px Silver;
}
#footer td.left
{
    text-align: left;
}
#footer td.filler
{
    width: 100%;
}
#footer td.right
{
    text-align: right;
}
