#servicebrokers .divInformation {
    width: 600px;
    border: solid 1px grey;
    background-color: #EEE4F8;
    padding: 10px;
}

#servicebrokers .hlistbox
{
    width: 150px;
}

#servicebrokers .hinputText, .hinputTextReadOnly
{
    width: 100%;
}
